#pageInstructs
{
    text-align: center;

    margin-top: 3vh;
}

.conPrevPlayer
{
    margin: auto;

    padding-left: 20px;

    width: 90vw;
    max-width: 750px;

    background-color: var(--colour-button);

    border: 1px solid var(--colour-page);
    border-radius: 5pt;

    margin-top: 3vh;
}

.btnRemove
{
    display: block;
    float: right;

    position: relative;
    right: 0;

    background-color: red;

    height: 4vh;
    line-height: 4vh;

    font-size: 2vh;

    border: 1px solid red;
    border-radius: 5pt;

    padding: 0 1.5vh;
}

#btnNext
{
    margin-top: 30vh;
}