.gridBtnNum
{
    /* height: fit-content; */
    /* clear: both; */
    margin: auto;
}

.btnNum
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    float: left;

    /* width: 5vh;
    height: 5vh; */
    width: 43px;
    height: 43px;

    border: none;
    border-radius: 0.5em;

    margin: 5px;

    font-size: 20px;

    background-color: var(--colour-button);
    /* color: var(--colour-text); */
}

.btnNumSelected
{
    background-color: var(--colour-text);
    color: var(--colour-button);
}