#conGameInner
{
    width: fit-content;
    margin: auto;
}

#conPlayerList > h2, #conBalls > h2
{
    font-size: 22px;
}

/*
* Landscape styling.
*/
@media (orientation: landscape)
{
    #conPlayerList
    {
        width: 40vw;
        max-width: 800px;
        float: left;
    }
}

/*
* Portrait styling.
*/
@media (orientation: portrait)
{
    #conPlayerList
    {
        width: 90vw;
        max-width: 650px;
        margin: auto;
    }

    #conTotalBalls
    {
        width: 90vw;
        max-width: 650px;
    }
}

.conPlayer
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: 100%;

    font-size: 20px;

    /* margin: auto; */

    margin-bottom: 30px;

    background-color: var(--colour-button);

    border-radius: 0.5em;

    padding-left: 2em;

    overflow: hidden;
}

.conPlayerSelected
{
    background-color: #7c6a04;
    /* color: var(--colour-button); */
}

.playerName
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    color: inherit;
}

#conTotalPlayers
{
    margin-top: 30px;
    margin-bottom: 25px;
}

#conTotalBalls
{
    margin-top: 30px;
    margin-bottom: 20px;
}

#conTotalPlayers, #conTotalBalls
{
    border-radius: 0;
}

#conTotalPlayersBalls
{
    width: 100%;
    padding-top: 30px;
    border-top: 2px solid white;
}

#conTotalPlayersBalls > .conPlayer
{
    border-radius: 0;
}

#conPlayerList > div:last-child
{
    margin-bottom: 0;
}

#btnReplay, #btnQuit
{
    width: 100%;

    margin-top: 0;
    margin-bottom: 30px;
}

#conGridPoolBall
{
    margin: auto;
}

@media (orientation: portrait)
{
    #conBalls
    {
        margin: auto;
    }
}

@media (orientation: landscape)
{
    #conBalls
    {
        float: left;
        margin-left: 5vw;
    }
}

#btnAddBall, #btnRemoveBall
{
    margin-top: 40px;
}

#btnRemoveBall
{
    margin-bottom: 20px;
}

.numBallsCount
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--colour-text);
    color: var(--colour-button);

    font-size: 20px;
    font-weight: 700;

    border: none;
    /* border-radius: 0.4em; */

    width: 3em;
    padding: 0.35em 0;
}

.numBallsCountSelected
{
    background-color: var(--colour-button);
    color: var(--colour-text);
}

.numCircle
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.75em;
    height: 1.75em;

    border-radius: 50%;

    background-color: white;
    color: black;
}