#contentGame
{
    height: calc(100vh - var(--height-header)); 
    /* height: auto; */
}

#conGameInner
{
    margin: auto;
}

#conPlayerList > h2, #conBalls > h2
{
    font-size: 22px;
}

/*
* Landscape styling.
*/
@media (orientation: landscape)
{
    #conPlayerList
    {
        width: 40vw;
        float: left;
    }

    #conBalls
    {
        float: left;
        margin-left: 60px;
    }
}

/*
* Portrait styling.
*/
@media (orientation: portrait)
{
    #conPlayerList
    {
        width: 90vw;
    }

    #conTotalBalls
    {
        margin: auto;
        width: 90vw;
        max-width: 500px;
    }

    #conBalls
    {
        margin: auto;
        margin-top: 60px;
        margin-bottom: 15px;
    }
}

#conPlayerList
{
    max-width: 500px;
    margin: auto;
}

.conPlayer
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: 100%;

    font-size: 20px;

    /* margin: auto; */

    margin-bottom: 30px;

    background-color: var(--colour-button);

    border-radius: 0.5em;

    /* padding-left: 2em; */

    overflow: hidden;
}

.conPlayerSelected
{
    background-color: #7c6a04;
    /* color: var(--colour-button); */
}

.playerName
{
    white-space: pre;

    margin-left: 1em;
}

.playerName, .playerPlace
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    color: inherit;
}

#conTotalPlayers
{
    margin-top: 30px;
    margin-bottom: 25px;
}

#conTotalBalls
{
    margin-bottom: 20px;
    margin-top: 30px;
}

#conTotalPlayers, #conTotalBalls
{
    border-radius: 0;
}

#conTotalPlayersBalls
{
    width: 100%;
    padding-top: 30px;
    border-top: 5px solid black;
}

#conTotalPlayersBalls > .conPlayer
{
    /* border-radius: 0; */
    margin-bottom: 0;
}

#conPlayerList > div:last-child
{
    margin-bottom: 0;
}

#btnReplay, #btnQuit
{
    width: 100%;
}

#btnReplay
{
    margin-bottom: 30px;
}

#conGridPoolBall
{
    margin: auto;
}

#btnAddBall, #btnRemoveBall
{
    margin-top: 40px;
}

#btnRemoveBall
{
    margin-bottom: 20px;
}

.numBallsCount, .playerPlace
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--colour-text);
    color: var(--colour-button);

    font-size: 20px;
    font-weight: 700;

    border: none;
    /* border-radius: 0.4em; */

    width: 3em;
    padding: 0.35em 0;
}

.playerPlace
{
    width: 3.25em;
}

.numBallsCountSelected
{
    background-color: var(--colour-button);
    color: var(--colour-text);
}

.numCircle
{
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.75em;
    height: 1.75em;

    border-radius: 50%;

    background-color: white;
    color: black;
}

.playerPlace > .numCircle
{
    font-size: 0.8em;

    width: 2.3em;
    height: 2.3em;
}

.numCircle > sup
{
    /* vertical-align: super; */
    font-size: 0.7em;
    color: black;
}