#conGameInner
{
    width: fit-content;
    margin: auto;
}

#conPlayerList > h2, #conBalls > h2
{
    font-size: 2.5vh;
}

/*
* Mobile phone styling.
*/
@media screen and (max-width: 768px)
{
    #conPlayerList
    {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (min-width: 769px)
{
    #conPlayerList
    {
        width: 40vw;
        max-width: 800px;
        float: left;
    }
}

.conPlayer
{
    width: 100%;

    font-size: 2.25vh;

    text-align: center;

    /* margin: auto; */

    margin-bottom: 3vh;

    text-align: center;

    background-color: var(--colour-button);

    border: 1px solid var(--colour-button);
    border-radius: 20px;

    padding: 1vh 0;
}

#conPlayerList > div:last-child
{
    margin-bottom: 0;
}

#btnReplay, #btnQuit
{
    width: 100%;

    margin-top: 0;
    margin-bottom: 3vh;
}

.conPlayerSelected
{
    border-color: var(--colour-text);
}

@media screen and (max-width: 480px)
{
    #conBalls
    {
        margin: auto;
    }
}

@media screen and (min-width: 481px)
{
    #conBalls
    {
        float: left;
        margin-left: 5vw;
    }
}