#conNumBalls, #conNumPlayers
{
    margin: auto;
}

#conCheckBox
{
    margin: auto;
    margin-top: 30px;

    padding: 0.5em;

    background-color: var(--colour-button);

    border-radius: 0.5em;
}