.conPlayerName
{
    /* width: 75%; */

    text-align: center;

    margin: auto;
}

.conPlayerName > input
{
    width: 90vw;
    max-width: 600px;

    font-size: inherit;

    text-align: center;

    background-color: var(--colour-button);

    border: none;
    border-radius: 5px;

    /* margin-top: 5px; */

    padding: 5px;
}

/* Remove default styling when a text-box is clicked (i.e. when it has focus) */
.conPlayerName > input:focus
{
    outline: none;
}