:root
{
    --colour-page: rgb(50, 50, 65);
    --colour-text: white;
    --colour-button: black;

    --colour-experiment: #7c6a04;

    --max-width-phone: 768px;
    --min-width-computer: 769px;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: var(--colour-text);
    font-family: Verdana, Tahoma, sans-serif;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    background: var(--colour-page);
}

#root
{
    padding-bottom: 2vh;

    margin: auto;
}

.pageHeading
{
    width: 100vw;
    height: 5vh;

    font-size: 3vh;
    line-height: 5vh;

    padding-left: 5vw;

    background-color: var(--colour-button);
}

h2
{
    text-align: center;

    font-size: 2vh;

    margin-top: 3vh;
    margin-bottom: 1vh;
}

div
{
    width: fit-content;
}

.clearFix::after
{
    content: ".";

    display: block;

    clear: both;

    visibility: hidden;

    line-height: 0;

    height: 0;
}

.btnBig
{
    display: block;

    width: 90%;
    max-width: 750px;
    height: 5vh;

    margin: auto;

    margin-top: 40px;

    background-color: var(--colour-button);

    font-size: 3vh;
    line-height: 5vh;

    border: 1px solid var(--colour-button);
    border-radius: 20px;
}

.btnBig:hover
{
    border-color: var(--colour-text);
}

.btnBig:active
{
    background-color: var(--colour-page);
}